body{
    background-color: blanchedalmond;
}

table, tr, th, td, caption {
    border: 1.2px solid rgba(0, 0, 0, 0.995);
    border-collapse: collapse;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
}

/* a{
    color: aliceblue;
} */
a:hover, a:active{
    color:lightseagreen;
}
 a:visited{
    color: rgb(110, 105, 105);
}